#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #f8f9fa;
    color: #2EC1AC;  
    box-shadow: none;
    position: fixed;
    z-index: 999;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
  }
  
  .brand {
    margin-left: 5rem;
    width: auto;
    height: auto;
  }
  
  .brand li a img {
    width: auto;
    height: 10vh; 
    margin-left: -1rem;
    object-fit: contain; 
    border-radius: 15px;
  }
  
  .links {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1.2rem; 
  }
  
  .links li a {
    font-size: 1.3vw;
    color: #2EC1AC;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  
  
  .links li a:hover {
    opacity: 0.7;
  }
  
  .signUpLi .signUpButton {
    white-space: nowrap;
    background-color: #2EC1AC;
    padding: 0.6vw;
    padding-inline: 2vw;
    color: #ffffff;
    border-radius: 50px;
    transition: 0.4s;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .signUpLi .signUpButton:hover {
    opacity: 0.8;
  }
  
  .language-btn {
    position: relative;
    color: #000000;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.4rem;
    font-size: 16px;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  
  .language-btn:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .language-btn.active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .flag-icon {
    width: 26px;
    height: 26px;
  }
  
  .language-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 3rem;
    right: auto;
    font-size: 1rem;
    background-color: rgb(250, 247, 247);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    padding: 0.2rem 0.6rem;
    z-index: 100;
    transition: all 0.3s ease;
    transform: translateY(-10px);
  }
  
  .language-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .language-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: #1f1e1e;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }
  
  .language-option img {
    width: 24px;
    height: 24px;
  }
  
  .language-option:hover {
    color: #00000090;
    transform: scale(1.05);
  }
  
  .arrow {
    font-size: 23px;
    margin-right: 0vw;
    color: #000000;
    transition: all 0.3s ease;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 98;
    transition: opacity 0.4s ease, visibility 0.4s ease;
  }
  
  .overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .menuBtn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #navbar.menu-open {
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10vh;
      background-color: #f8f9fa;
      box-shadow: none;
      position: fixed;
      z-index: 999;
      padding: 0.5rem 2rem;
      transition: all 0.3s ease;
    }
  
    .brand li a img {
      height: 18vh;
      width: auto;
    }
  
    .links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      color: #2EC1AC;
      font-size: 3rem;
      background-color: #f8f9fa;
      top: 8vh;
      left: 0;
      padding: 1rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      transition: all ease;
      transform: translateY(-150%);
      opacity: 0;
    }
  
    .links.show {
      display: flex;
      transform: translateY(0);
      opacity: 1;
    }
      
    .links li {
      font-size: 3rem;
      margin-bottom: 0rem;
    }
  
    .menuBtn {
      padding-right: 1rem;
      display: block;
      font-size: 1.3rem;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  
    .menuBtn i {
      transition: transform 0.3s ease;
    }
  
    .links li a {
      font-size: 1.8rem;
    }
  
    .signUpLi .signUpButton {
      padding: 0.6rem 1rem;
      font-size: 1.6rem;
    }
  
    .language-btn {
      font-size: 1.4rem; 
    }
  
    .language-menu {
      font-size: 1.2rem; 
    }
  
    .language-option {
      font-size: 1.4rem;
    }
  
    .arrow {
      font-size: 2.5rem; 
    }
  
    .language-menu {
      top: 290;
      right: auto;
    }
  }